body {
            display: flex;
            height: 100vh; /* 使页面高度占满视窗 */
        }

.leftpn {
            width: 30%;
            background-color: #f4f4f4; /* 左侧背景色 */
            padding: 20px;
        }
.rightpn {
            width: 70%;
			height:95%;
            position: relative;
            background-color: #ddd; /* 右侧背景色 */
            overflow: hidden;
        }
img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain; /* 保证图片按比例放大，避免溢出 */
        }
button{
	position: absolute;
	z-index:10
}

textarea{
	width:100%;
	height:35%;
}