<!DOCTYPE html>
<html>
 <head>
  <link rel=stylesheet href=m.css>
  <script src=lib/qrcode.min.js></script>
  <script src=lib/jsQR.min.js></script>
  <script src=lib/vue.global.prod.min.js></script>
  <script src=lib/i18next.min.js></script>
 </head>
 <body id=app>
 <div class=leftpn>
	<button :disabled=!scanmode @click="inputText='';scanmode=0;stopCamera()">{{$t('Text')+' >> '+$t('QRCode')}}</button><br>
    <button :disabled=scanmode  @click="inputText='';scanmode=1;useCamera()">{{$t('QRCode')+' >> '+$t('Text')}}</button>
	<br><br>
  {{$t('Text')}}:({{$t('Length')}}:{{inputText.length}})<textarea v-model=inputText :readonly=scanmode :placeholder="scanmode?($t('Now scan the page')+(textParts.length+1)):$t('Input the long text here')" @click=copyResText></textarea><br>

  <div v-show=!scanmode>
	{{$t('ChunkSize')}}：<input v-model=chunkSize /><br>{{$t('ChunkSizeInfo')}}<br><button @click="generateQRCode">{{$t('Generate')}}{{$t('QRCode')}}</button><br><br>
    <button v-show='curShowCode>0' @click='--curShowCode'> << {{$t('Previous')}}</button><br>
	<div v-if='textParts[curShowCode]'>{{$t('Current')+'/'+$t('Total')}}: {{(textParts[curShowCode].cur+1)+'/'+textParts[curShowCode].total+','+$t('Length')+'='+textParts[curShowCode].text.length+','+$t('Text')+':'+textParts[curShowCode].text.substr(0,6)+'...' }}</div>
	<button v-show='curShowCode<textParts.length-1' @click='++curShowCode'>{{$t('Next')}} >></button><br>
  </div>
  <button v-show=scanmode @click="inputText='';textParts=[];stopCamera();useCamera();">重新扫码</button><br>
 </div>
 <div class=rightpn>
  <div v-show=scanmode>
  <video id="video" autoplay></video>
  <canvas id="canvas" style='display:none'></canvas>
  </div>
  
  <div v-for="(v,i) in textParts">
	 <div id=qrcode v-show='curShowCode==i'>

		<img v-show=!scanmode :src=v.src>
	</div>
  </div>
 </div>
 </body>
 
 <script>
	//Mult Lang i18next
	i18next.init({
      resources: {
        en: {
          translation: {
			ChunkSizeInfo:'The larger CHUNK SIZE is the better as long as the QR code can be successfully recognized. 100-200 is easy,more than 1k may be hard.',
			CopyConfirm:'Copy result Text now ?',
			DoneScan:'All QRCodes scanned,now you can click the TextBox to copy'
          }
        },
		'zh-CN':{
          translation: {
			'Long text and QRCode chunk tool':'长文本二维码分段转换器',
			'Input the long text here':'在此输入或粘贴长文本',
            Text: "文本",Length:'长度',ChunkSize:'分段长度',
			ChunkSizeInfo:'顺利识别前提下,分段越大越好,100-200较易识别,1000以上则较难',
			QRCode:'二维码',
			Generate:'生成',
			'Now scan the page':'现在请扫页码',
			Current:'当前页',
			Total:'总页数',
			Next:'下页',Previous:'上页',
			CopyConfirm:'复制结果文本? ',
			DoneScan:'扫码完成,现可点击文本框复制结果'
          }
        }
      },
      lng: navigator.language || navigator.userLanguage, //def:set cl lang,cn for test
      fallbackLng: "en",
      interpolation: {
        escapeValue: false
      }
    }, function(err, t) {
	});
 
	let newScanText=''
	const app = Vue.createApp({
        data() {
            return {
				scanmode:0, //扫描模式,0=生成模式，否则为扫码
                inputText: '', // 输入的长文本
				chunkSize: 256,// 分段长度
				curShowCode:0, //当前显示的二维码
                qrcodes: [],   // 存储生成的二维码信息
				textParts:[], // 分段信息
                reconstructedText: '', // 重组后的文本
				
				scanHint:i18next.t('Now scan the page')+1 //扫码提示
            };
        },
        methods: {
			$t(words){
				return i18next.t(words)
			},
            // 生成二维码
            async generateQRCode() {
				const cs=parseInt(this.chunkSize)
                const totalChunks = Math.ceil(this.inputText.length / cs);

				this.curShowCode=0 //重回定位
				this.textParts = [] // 清空之前的二维码数据
                for (let i=0,si = 0;si<this.inputText.length; si+=cs) {
                    const chunkText = this.inputText.slice(si, si + cs);
					//console.log(si,(si+cs),chunkText)

					let qtextobj = [
                        i++,
                        totalChunks,
                        chunkText
                    ]
					
					const base64Data = await QRCode.toDataURL(JSON.stringify(qtextobj))
					this.textParts.push({cur:qtextobj[0],total:qtextobj[1],text:qtextobj[2],src:base64Data})
                }
            },
			mergeScannedCode() {
				if(!newScanText) return
				let textp = JSON.parse(newScanText)
				if(textp[0] == this.textParts.length){
					this.textParts.push({cur:textp[0],total:textp[1],text:textp[2]})
					this.scanHint = this.$t('Now scan the page')+': '+(this.textParts.length+1)
				}
				else return //页码不对
				
				//扫描完毕？组装
				if(this.inputText.length<2 && textp[0] == textp[1]-1){
					this.textParts.forEach(v=>this.inputText += v.text)
					this.stopCamera()
					alert(this.$t('DoneScan'))
				}
			},
			copyResText(){
				if(this.inputText && this.scanmode && confirm(this.$t('CopyConfirm')))
					navigator.clipboard.writeText(this.inputText)
                    .then(() => alert("Copy OK"))
                    .catch(err => alert("ERROR, Please select all content inside the textarea and press CTRL+C to copy manually" + err));
			},
			useCamera(){//启动扫码
				// 获取用户媒体设备并打开摄像头
				navigator.mediaDevices.getUserMedia({ video: { facingMode: "environment" } })
					.then(stream => {
						video.srcObject = stream;
						video.setAttribute("playsinline", true); // 对于移动端支持
						video.play();
						requestAnimationFrame(this.scanQRCode);
				}).catch(err => {console.error("Error accessing camera: ", err);});
			},
			scanQRCode() {
				if (video.readyState === video.HAVE_ENOUGH_DATA) {
					// 设置Canvas大小与视频一致
					canvas.width = video.videoWidth;
					canvas.height = video.videoHeight;

					// 将视频帧绘制到Canvas
					ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
					const imageData = ctx.getImageData(0, 0, canvas.width, canvas.height);

					// 使用jsQR解码
					const code = jsQR(imageData.data, imageData.width, imageData.height);
					if (code) {
							newScanText = code.data
							//console.log(newScanText)
					}
				}
				requestAnimationFrame(this.scanQRCode); // 持续扫描
			},
			stopCamera() {
			  if (video.srcObject) {
				const tracks = video.srcObject.getTracks(); // 获取所有媒体轨道
				tracks.forEach(track => track.stop());      // 停止每个轨道
				video.srcObject = null;                     // 清除视频流
			  }
			}
        },
		mounted() {
			document.title=this.$t('Long text and QRCode chunk tool') + ' 0.1.0'
			setInterval(this.mergeScannedCode,100)
		}
    });

    app.mount('#app');
	
	const ctx = canvas.getContext('2d', { willReadFrequently: true }); //性能优化？
 </script>
</html>